@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica", sans-serif;
}

.logo {
  font-family: "HelveticaforTarget-Bold", sans-serif;
}

.active {
  color: #3b82f6 !important;
  background-color: #f7f8fa;
}

.dark .active {
  color: #60a5fa !important;
  background-color: #1f2937;
}

.active span,
.active svg {
  color: #2563eb !important;
  font-weight: bold;
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

._shadow {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
