@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.logo {
  font-family: "HelveticaforTarget-Bold", sans-serif;
}

.helvetica {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400 !important;
}
.space_grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 900 !important;
}
.space_grotesk2 {
  font-family: "Space Grotesk", sans-serif;
}

.prompt svg {
  position: absolute;
}
.prompt .line {
  stroke-dasharray: 260;
  stroke-width: 1px;
  fill: transparent;
  stroke: rgba(78, 255, 13, 0.3);
  animation: svgAnimation 2.5s linear infinite;
}
@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

@layer utilities {
  .active {
    @apply dark:bg-[#1f2937] bg-[#f7f8fa] rounded;
  }

  .active span,
  .active svg {
    @apply !text-[#3b82f6] dark:!text-white;
  }
  .dark {
    @apply bg-[#161616];
  }
  ._shadow {
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .expand {
    @apply w-[13%];
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.market-indicators-swiper .swiper-slide {
  width: auto !important;
  height: auto !important;
}

.market-indicators-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* Gradient fade effects */
.market-indicators-swiper::before,
.market-indicators-swiper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.market-indicators-swiper::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.market-indicators-swiper::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.dark .market-indicators-swiper::before {
  background: linear-gradient(to right, rgb(31, 31, 31), rgba(31, 31, 31, 0));
}

.dark .market-indicators-swiper::after {
  background: linear-gradient(to left, rgb(31, 31, 31), rgba(31, 31, 31, 0));
}
